# Entornos virtuales
spark_env/
env/
venv/
.venv/

# Variables de entorno y credenciales sensibles
.env
.env.local

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE y sistema
.vscode/
.idea/
.DS_Store
*.log
